
.header {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/628/866/539/skull-black-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    opacity: initial;
    padding: 10%;
    font-family: "Haettenschweiler", serif;
    font-size: 100px;
    color: #cec9c9;
    text-align: -webkit-left;
    running: initial;
}

li {
    display: inline-block;
    box-sizing: border-box;
    float: left;
    overflow: auto;
}

li a {
    display: inline-block;
    box-sizing: border-box;
    font-size: calc(18px + 0.9vmin);
    color: #cec9c9;
    opacity: 100%;
    text-align: center;
    padding: 14px 14px;
    font-family: "Calibri Light", serif;
    text-decoration: none;
}

li a:hover {
    color: #af4d0a;
}

.header_alphabet {
    font-family: "Calibri Light", serif;
    font-size: 300%;
    color: #cec9c9;
}

.header_alphabet_links {
    font-family: "Calibri Light", serif;
    display: inline-list-item;
    font-size: 200%;
    color: #cec9c9;
    text-decoration: none;
}

.header_bandName {
    font-family: "Metal Macabre Font", serif;
    font-size: 150%;
    color: #a62727;
    opacity: 100%;
}

.red-text {
    color: red;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.yellow-link a {
    color: yellow;
}

.yellow-link a:hover {
    color: yellow;
}

.body {
    background-size: cover;
    padding: 6%;
    font-family: "Calibri", serif;
    box-sizing: border-box;
    opacity: 90%;
    text-align: justify;
    line-height: 1.5;
    font-weight: 300;
    align-items: normal;
    font-size: calc(16%);
    color: #cec9c9;
}

.body_bands {
    padding: 3%;
    font-family: "Calibri", serif;
    background-size: cover;
    box-sizing: border-box;
    opacity: 100%;
    text-align: justify;
    line-height: 1.5;
    font-weight: 300;
    align-items: normal;
    font-size: calc(100%);
    color: #cec9c9;
}

ul {
    list-style-type: none;
    box-sizing: border-box;
    margin: 5px;
    padding: 3px;
    overflow: auto;
}

.footer-mystic {
    font-family: "Metal Macabre Font", serif;
    line-height: 6.5;
    font-weight: 400;
    font-size: calc(2px + 1.4vmin);
    color: #cec9c9;
    text-align: -webkit-center;
    padding: 100px 10px;
}

#customers {
    font-family: "Calibri", serif;
    font-size: calc(3px + 1.2vmin);
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    color: #cec9c9;
    padding: 10%;
}

th, td {
    padding: 5px;
    text-align: left;
}

#customers th {
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-family: "Calibri", serif;
    font-size: calc(5px + 1.0vmin);
    color: #bbb41a;
}

.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a:link {
    color: #c9c1b7;
}

a:visited {
    color: #c9c1b7;
}

a:hover {
    color: #af4d0a;
}

a:active {
    color: #c9c1b7;
}
